<html>
    <body>
<h1>Store Locator</h1>
<div id="googleMap" style="width:100%;height:400px;"></div>
<form method="get" action="/locator/map/index">
<input type="text" placeholder="place" name="place" required/>
<button> Submit </button>
<?php
$data=$block->getMapData();
if($data){
    if($data[0]=='true'){
    $l1= $data[1]['lat'];
$l2=$data[1]['lng'];
    
    echo "<script>var l1=$l1;</script>";
    echo "<script>var l2=$l2;</script>";
}else{
    $l1= 37.2567137;
    $l2=-101.2533311;
    echo "<script>var l1=$l1;</script>";
    echo "<script>var l2=$l2;</script>";

    echo '<h1 style="color:red;">Out of border</h1>';

}
}
else{
    $l1= 37.2567137;
    $l2=-101.2533311;
    echo "<script>var l1=$l1;</script>";
    echo "<script>var l2=$l2;</script>";

}
?>

</form>
<script>
function myMap() {
    if(l1&&l2){
    
var mapProp= {
  center:new google.maps.LatLng(l1,l2),
  zoom:8,
};
    }
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
if(l1&&l2){
var marker = new google.maps.Marker({
          position: new google.maps.LatLng(l1,l2),
          map: map,
          title: 'Hello World!'
        });
    }

}
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<?php echo $block->getApiKey() ?>&callback=myMap">
</script>
</body>
</html>