<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \ITG\Subs\Block\ProductsList $block */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())): ?>
<?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = false;
?>
    <div class="block widget block-products-list <?= /* @noEscape */ $mode ?>">
        <?php if ($block->getTitle()): ?>
        <div class="block-title">
            <strong><?= $block->escapeHtml(__($block->getTitle())) ?></strong>
        </div>
        <?php endif ?>
        <div class="block-content">
            <?= /* @noEscape */ '<!-- ' . $image . '-->' ?>
            <div class="products-<?= /* @noEscape */ $mode ?> <?= /* @noEscape */ $mode ?>">
                <ol class="product-items <?= /* @noEscape */ $type ?>">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item): ?>
                        <?php if ($iterator++ != 1): ?></li><?php endif ?>
                        <li class="product-item">
                        <div class="product-item-info">
                            <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>" class="product-item-photo">
                                <?= $block->getImage($_item, $image)->toHtml() ?>
                            </a>
                            <div class="product-item-details">
                                <strong class="product-item-name">
                                    <a title="<?= $block->escapeHtml($_item->getName()) ?>"
                                       href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                                       class="product-item-link">
                                        <?= $block->escapeHtml($_item->getName()) ?>
                                    </a>
                                </strong>
                                <?php
                                echo $block->getProductPriceHtml($_item, $type);
                                ?>

                                <?php if ($templateType): ?>
                                    <?= $block->getReviewsSummaryHtml($_item, $templateType) ?>
                                <?php endif; ?>
                                <div id="modal-content">
                                    <?php echo "beep" ?>
                                </div>
                                <button 
                                name="addto"
                                data-mage-init='{"example-modal": {"target": "#popup-mpdal"}}'
                                class="action tocart primary" type="button" title="<?= $block->escapeHtmlAttr(__('pop it up')) ?>">
                                                            <span><?= $block->escapeHtml(__('pop it up')) ?></span>
                                </button>

                                <?php if ($showWishlist || $showCompare || $showCart): ?>
                                    <div class="product-item-actions">
                                        <?php if ($showCart): ?>
                                            <div class="actions-primary">
                                                <?php if ($_item->isSaleable()): ?>
                                                    <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                        <button class="action tocart primary" data-mage-init='{"redirectUrl":{"url":"<?= $block->escapeUrl($block->getAddToCartUrl($_item)) ?>"}}' type="button" title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                            <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                        </button>
                                                    <?php else: ?>
                                                        <?php
                                                            $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                            $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                        ?>
                                                        <button class="action tocart primary" data-post='<?= /* @noEscape */ $postData ?>' type="button" title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                            <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                        </button>
                                                    <?php endif; ?>
                                                <?php else: ?>
                                                    <?php if ($_item->getIsSalable()): ?>
                                                        <div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                        <?php if ($showWishlist || $showCompare): ?>
                                            <div class="actions-secondary" data-role="add-to-links">
                                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                    <a href="#"
                                                       data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($_item) ?>' class="action towishlist" data-action="add-to-wishlist" title="<?= $block->escapeHtmlAttr(__('Add to Wish List')) ?>">
                                                        <span><?= $block->escapeHtml(__('Add to Wish List')) ?></span>
                                                    </a>
                                                <?php endif; ?>
                                                <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                    <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                                    <a href="#" class="action tocompare" data-post='<?= /* @noEscape */ $compareHelper->getPostDataParams($_item) ?>' title="<?= $block->escapeHtmlAttr(__('Add to Compare')) ?>">
                                                        <span><?= $block->escapeHtml(__('Add to Compare')) ?></span>
                                                    </a>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?= ($iterator == count($items)+1) ? '</li>' : '' ?>
                    <?php endforeach ?>
                </ol>
            </div>
            <?= $block->getPagerHtml() ?>
        </div>
    </div>
<?php endif;?>
<div>
    <a name="beep" href="#" id="click-me"
    data-mage-init='{"example-modal": {"target": "#popup-mpdal"}}'
    >Click Me</a>
    <a name="beep" href="#" 
    data-mage-init='{"example-modal": {"target": "#popup-mpdal"}}'
    >Click Me</a>

    <a name="beep" href="#" 
    data-mage-init='{"example-modal": {"target": "#popup-mpdal"}}'
    >Click Me</a>

    <a name="beep" href="#" 
    data-mage-init='{"example-modal": {"target": "#popup-mpdal"}}'
    >Click Me</a>
    <button name="beep"
    data-mage-init='{"example-modal": {"target": "#popup-mpdal"}}'
    
    >but</button>
</div>
<script>
let terms = [];
</script>

<div id="popup-mpdal" >
    <h2>Select subscription type:</h2>
    <hr>
<?php 
$data=$block->getOptions();    
foreach($data as $item): ?>
    <div>
        <input type="radio" id="radio-<?php echo $item->getId(); ?>" name="type" class="radio" value="<?php echo $item->getId(); ?>" />
        <label class="label"><?php echo $item->getName(); 
        $term=$item->getTerms();
        ?></label>
        <script>
        terms.push('<?php echo $term; ?>');
        </script>
    </div>
    <?php 
endforeach;
?>
<h4>Terms and Conditions</h4>
      <h4> <p  id="terms" name="terms">

</p></h4>

</div>
<script>
            var term1 = document.getElementById ("radio-1");
            var term2 = document.getElementById ("radio-2");
            term1.checked=true;
            if (term1.addEventListener) {
                term1.addEventListener ("RadioStateChange", OnRadioStateChange, false);
                term2.addEventListener ("RadioStateChange", OnRadioStateChange, false);
            }
            document.getElementById ("terms").innerHTML=terms[0];
         console.log("inited");

        function OnRadioStateChange (event) {
            var radio = event.target;
            if (radio.checked) {
                document.getElementById ("terms").innerHTML=(radio.value==1)?terms[0]:terms[1];
                //alert ("The " + radio.value + " radio is selected.");
            }
            else {
                //alert ("The " + radio.value + " radio is unselected.");
            }
        }


    </script>