
    <table>
<tr>
<th>TIMESTAMP</th>
<th>USER AGENT</th>
<th>REMOTE IP</th>
</tr>

<?php foreach($block->getLogs() as $log): ?>
   
    <?php /** @var ITG\Log\Model\Index */ ?>
    <tr>
    <td width="20%"><?php echo $log->getCreatedAt(); ?></td>
    <td width="50%"><?php echo $log->getUserAgent(); ?></td>
    <td width="30%"><?php echo $log->getRemoteIp(); ?></td>
    </tr>

<?php endforeach; ?>

</table>
