<div class="block block-dashboard-info">

<div class="block-title"><strong>Last Login :</strong>         <a class="action edit" href="/log/log/history"><span><?= $block->escapeHtml(__('Show Logs')) ?></span></a>
</div>
<div class="block-content">

<table>
<tr>
<th>TIMESTAMP</th>
<th>USER AGENT</th>
<th>REMOTE IP</th>
</tr>

<?php foreach($block->getLogs() as $log): ?>
    
    <?php /** @var ITG\Log\Model\Latest */ ?>
    <tr>
    <td width="20%"><?php echo $log->getCreatedAt(); ?></td>
    <td width="50%"><?php echo $log->getUserAgent(); ?></td>
    <td width="30%"><?php echo $log->getRemoteIp(); ?></td>
    </tr>

<?php endforeach; ?>

</table>
</div></div>
