<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View\Description
 */
?>
<?php
$_product = $block->getProduct();
?>
<p><?php echo $_product->getProductClassification(); ?></p>
<p><?php echo $_product->getDescriptionCustom();?></p>
<p><?php print_r ($_product->getProductBrand());?></p>