<?php /** @var ITG\Products\Block\Product $block */ ?>

<h1>Products</h1>
<table>
<tr>
<th>ID</th>
<th>Name</th>
<th>Classification</th>
<th>Description</th>
<th>Brand</th>
<th>SKU</th>
<th>PRICE</th>
<th>CATEGORIES</th>
<th>IMAGE</th>
<th>ACTIONS</th>
</tr>
<?php foreach($block->getProducts() as $product): ?>
    
    <?php /** @var ITG\Products\Model\Product */ ?>
    <tr>
    <td><?php echo $product->getId(); ?></td>
    <td><?php echo $product->getName(); ?></td>
    <td><?php echo $product->getProductClassification(); ?></td>
    <td><?php echo $product->getDescriptionCustom(); ?></td>
    <td>
<?php print_r ($product->getProductBrand()); ?>
</td>
    <td><?php echo $product->getSku(); ?></td>
    <td><?php echo $product->getPrice(); ?></td>
    <?php foreach($block->getCategories() as $cat)?>
    <td><?php echo $cat->getName(); ?></td>
    <td> <img 
            alt="chips"
            src="http://mg1.qw/pub/media/catalog/product<?php echo $product->getThumbnail(); ?>"
            width="50px"
            height="50px"
    ></td>
    <td><a href="http://mg1.qw/<?php echo $product->getUrlKey();?>.html">view</a></td>

    </tr>

<?php endforeach; ?>
</table>
