<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Customer view template
 *
 * @see \ITG\Crud\Block\Customer
 */
?>
<h1>Registration page</h1>
<?php /** @var ITG\Crud\Block\Customer $block */ ?>
<h1><?php echo $block->getCustomerId(); 
            $customer=$block->getCustomer();
?></h1>

<form enctype="multipart/form-data" action="/crud/Customer/update" method="post">
<input name="id" type="hidden" value="<?php echo $customer->getId(); ?>">
<input name="first_name" type="text" placeholder="first name" value="<?php echo $customer->getFirstName(); ?>">
<input name="last_name" type="text" placeholder="last name" value="<?php echo $customer->getLastName(); ?>">
<input name="phone" type="text" placeholder="phone" value="<?php echo $customer->getPhone(); ?>">
<input name="email" type="text" placeholder="email" value="<?php echo $customer->getEmail(); ?>">
<img 
            alt="image"
            src="http://mg1.qw/pub/media/<?php echo $customer->getImage(); ?>"
            width="50px"
            height="50px"
    >
<input type="file" name="image" />
 <input type="submit" value="Send information">
</form>
