
<h1>Customers</h1>
<table>
<tr>
<th>ID</th>
<th>FIRST NAME</th>
<th>LAST NAME</th>
<th>EMAIL</th>
<th>PHONE</th>
<th>IMAGE</th>
<th>ACTIONS</th>
</tr>
<?php foreach($block->getCrud() as $customer): ?>
   
    <?php /** @var ITG\Crud\Model\Index */ ?>
    <tr>
    <td><?php echo $customer->getId(); ?></td>
    <td><?php echo $customer->getFirstName(); ?></td>
    <td><?php echo $customer->getLastName(); ?></td>
    <td><?php echo $customer->getEmail(); ?></td>
    <td><?php echo $customer->getPhone(); ?></td>
    <td> <img 
            alt="image"
            src="http://mg1.qw/pub/media/<?php echo $customer->getImage(); ?>"
            width="50px"
            height="50px"
    ></td>
    <td><form enctype="multipart/form-data" action="/crud/Customer/Delete" method="post"><button type="submit" name="id" value="<?php echo $customer->getId(); ?>">delete</button></form><form  method="get" action="/crud/Customer/update/id/<?php echo $customer->getId();?>"><input type="submit" name="submit" value="update"></form></td>
    </tr>

<?php endforeach; ?>
</table>
