<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Customer view template
 *
 * @see \ITG\Crud\Block\Customer
 */
?>
<h1>Registration page</h1>

<form enctype="multipart/form-data" action="<?php echo $block->getFormAction() ?>" method="post">
<input name="first_name" type="text" placeholder="first name">
<input name="last_name" type="text" placeholder="last name">
<input name="phone" type="text" placeholder="phone">
<input name="email" type="text" placeholder="email">
<input name="email" type="text" placeholder="email">
<input type="file" name="image" />
 <input type="submit" value="Send information">
</form>
